.page {
  &__about {
    @include adaptiveValue('padding-top', 135, 85);
    padding-bottom: rem(160);

    //== 768px ==//
    @media (max-width: $tb) {
      padding-bottom: 135px;
    }
  }
}
.about {
  &__image-block {
    grid-column: span 4;
    //== 1200px ==//
    @media (max-width: $note-m) {
      grid-column: span 5;
    }
    //== 1024px ==//
    @media (max-width: $note-s) {
      grid-column: span 6;
      margin-right: 20px;
    }
    //== 768px ==//
    @media (max-width: $mb) {
      margin-right: auto;
    }
  }
  &__container {
    align-items: center;

    //== 768px ==//
    @media (max-width: $mb) {
      display: flex;
      flex-direction: column-reverse;
      gap: 40px;
    }
  }

  &__content {
    position: relative;
    z-index: 2;
    grid-column: 6 / 13;

    //== 1200px ==//
    @media (max-width: $note-m) {
      grid-column: 7 / 13;
    }
  }

  &__title {
  }

  &__descr {
  }
}
